@charset "utf-8";
/* CSS Document */
*{
	font-family: lucida calligraphy, cursive ;
	src: url("lucida calligraphy italic.ttf");
	
	font-size:18px;
}
html,body{
	width:100%;
	height: 100%;
}

body{
	background-image: url("background.jpg");
	background-repeat:no-repeat;
	background-attachment:scroll;
	margin:0;
	
}
#startbg{
	background-image: url("background start.jpg");
	background-repeat:no-repeat;
	background-attachment:scroll;
	
}
.login-form{
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.login{
	
	background-color:#4f4243;
	border:3px solid #342e36;
	opacity:0.8;
	
	
}
.register{
	align-self: flex-end;
}
#login{
	width:500px;
	height:350px;	
	display: flex;
	align-items: center;
	justify-content: center;
}
.lib-container{
	width: 80%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.inputs{
	height: 50%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
}
#forgotpass{
	width:500px;
	height:250px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-125px;
	margin-left:-250px;
}

.button{
	width:350px;
	height:40px;
    background-color: #53614B;
    border:none;
	border-radius:5px 5px 5px 5px;
	
}
button.change{
	background-image:url("key.jpg")
}
button.change:hover{
	background-image:url("keyhover.jpg");
}

#buttonlogin{	
	width: 100%;
    background-image: url(_key.jpg);
    display: block;
    height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
	user-select: none;
}
#buttonlogin:hover{
	background-image: url('keyactive.jpg')
}
#buttonlogin:active{
	background-image:url('keyhover.jpg');
}
/* #buttonlogin>div{
	height: 40px;
    width: 40px;
    margin: 0 auto;
	background:url('key.jpg');
}
#buttonlogin:hover>div{
	background:url('key_hover.jpg');
} */

#buttonsend{
	position:absolute;
	left:75px;
	top:170px;
	width:346px;
	height:40px;
	color:black;
	
}
.fillout{
	background-color:#C59B83;
	border:none;
	text-align:center;
	width:346px;
	height:40px;
	border-radius:5px 5px 5px 5px;
}
.fillout.login{
	width:100% !important;
}
/* 

#username{
	
	position:absolute;
	left:75px;
	top:60px;
	
}

#password{
	
	width:346px;
	height:40px;
	position:absolute;
	left:75px;
	top:130px;
	

} */

a:link{
	color:black;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
}
a:active{
	font-size:16px;
	font-weight:bold;
}
a:visited{
	color:black;
}

#forgotp{
	/* position:absolute;
	top:270px;
	left:50px;
	text-decoration:none; */
}

#newuser{
	/* position:absolute;
	top:270px;
	left:370px;
	text-decoration:none; */
}

#email{
	position:absolute;
	left:75px;
	top:100px;
	
}
#forgottext{
	position:absolute;
	left:100px;
	top:25px;
	text-align:center;
	
	
}

.x{
	position:absolute;
}

#xforgot{
	position:absolute;
	left:480px;
	top:5px
}

/*new user*/
#signup{

	width:500px;
	height:450px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-240px;
	margin-left:-250px;
	
}

#newusername{
	position:absolute;
	top:60px;
	left:75px
}
#newemail{
	position:absolute;
	top:130px;
	left:75px;
}
#newpassword{
	position:absolute;
	top:200px;
	left:75px;
}
#renewpassword{
	position:absolute;
	top:270px;
	left:75px;
}
#newbuttonlogin{
	position:absolute;
	top:370px;
	left:75px;
}
#xnew{
	position:absolute;
	top:5px;
	left: 480px;

}


/*startpg*/

	


#menubar{
			background-color:#3D333A;
			position:fixed;
			top:0;
			width:85%;
			opacity:0.8;
			list-style-type: none;
  			margin: 0 auto;
  			padding: 0;
			overflow:hidden;
		
		}


#menubar li{
	
	float:left;
  
}		
#menubar li a{
			display:block;
	padding: 5px 25px;
	width:40px;
	text-align:center;
	
	
		}
#menubar li a:hover{
	background-color:#53614B;
}
#menubar li a:active{
	background-color:#665350;
}

#menubar li a:hover:not(.active) {
  background-color: #555;
}

/*menubar*/

.icon-bar {
  width: 80%;
  background-color: #4F4245;
    opacity: 0.7;
  
  position: absolute;
  left: 50%; 
	transform: translate(-50%, 0);
	margin: 0;
}

.icon-bar a {
  float: right;
  width: 80px;                          /* need to modify*/
  text-align: center;
  padding: 5px 0;
  transition: all 0.3s ease;
  color: #E1C2B0;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #E1C2B0;
    color: #443B40;
}

.active {
  background-color: #4CAF50;
}

/*.content{
    width: 80%;
    height:800px;
    top:180px;
  background-color: #4F4245;
    opacity: 0.7;
  overflow: auto;
  position: absolute;
  left: 50%; 
	transform: translate(-50%, 0);
	margin: 0;
     display: flex; 
} */

.container {
  
  background-color:#443B40;
    opacity: 0.8;
    width:80%;
    height:75%;
    top:180px;
    left:10%;
    position:absolute;
    overflow: hidden;
}

.containerh {
  display: flex;
    position:relative;
    overflow: hidden;
}

.containerh > div {
  background-color:#CAA189;
    width:120px;
    height: 150px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.containera{
    display: flex;
    position:relative;
    overflow: hidden;
}

.containera > div {
  background-color:#CAA189;
    width:120px;
    height: 150px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}






.dropdown {
  position: relative;
  display:block;
}

.icon-bar a:hover, .dropdown:hover .dropbtn {
  background-color:#CAA189;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #CAA189;
 min-width: 150px;
   z-index: 1;
  
}

.dropdown-content a {
  float: none;
  color:#443B40;
  padding: 10px 10px;
  text-decoration: none;
   display: block;
  text-align: left;
    font-size: 18px;
}

.dropdown-content a:hover {
  background-color:#443B40;
    color:#CAA189;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*Add Book*/

#addtab{
    background-color: #CAA189;
    width: 75px;
    height:60px;
    text-align: center;
    top:120px;
    left:10%;
    position:absolute;
    padding:0px;
    margin:0px;
}

#description{
    background-color: #CAA189;
    width: 30%; 
    height:150px;
    position: absolute;
    top:100px;
    left:60%;
    
}

.addfill input{
    display: block;
}
.addfill label{
    display: block;
}

#addtab img{
    margin-top:15px;
}

#snb{
    

}

#pyear{
    
}